<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/admin/css/style.css">
    </head>
<body>
  <%- include('../../partials/admin/header.ejs')%>
    <section id="mid">
        <div class="container">
            <div class="row">
                <%- include('../../partials/admin/left.ejs')%>
                <div class="col-md-9">
                    <h2>Service Management</h2>
                    <table class="table table-hover table-bordered table-responsive border-dark border-1 table-info">
                        <tr>
                            <td>Total Services:<%=totalService%></td>
                            <td>Publish:<%=publishCount%></td>
                            <td>Unpublish:<%=unpublishCount%></td>
                        </tr>
                    </table>
                    <a href="/admin/serviceadd"><button class="btn form-control btn-outline-warning"> Add Service</button></a>
                    <table class="table table-primary table-striped mt-2  table-bordered border-1 border-dark">
                        <tr>
                            <th>S.no.</th>
                            <th>Service Name</th>
                            <th>Service Image</th>
                            <th>Service Description</th>
                            <th>Long Description</th>
                            <th>Posted Date</th>
                            <th>Service Status</th>
                            <th>Action 1</th>
                        </tr>
                        <%record.forEach((result,key)=>{%>
                        <tr>
                            <td><%=key+1%></td>
                            <td><%=result.name%></td>
                            <td><img style="width: 50px;" src="/upload/<%=result.img%>" alt=""></td>
                            <td><%=result.desc%></td>
                            <td><%=result.ldesc%></td>
                            <td><%=result.postedDate%></td>
                            <%if(result.status=='publish'){%>
                             <td><a href="/admin/servicestatusupdate/<%=result.id%>"><button class="btn btn-outline-success"><%=result.status%></button></a></td>
                            <%}else{%>
                                <td><a href="/admin/servicestatusupdate/<%=result.id%>"><button class="btn btn-outline-danger"><%=result.status%></button></a></td>
                                <%}%>
                            <td><a href="/admin/servicedelete/<%=result.id%>"><i class="bi bi-trash3 "></i></a></td>
                        </tr>
                    <%})%>
                    <%if(record.length==0){%>
                    <tr><td colspan="8"><h4 class="text-center">No record found</h4></td></tr>
                     <%}%>   
                    </table>
                
                </div>
            </div>
        </div>
    </section>
   <%- include('../../partials/admin/footer.ejs')%>
</body>
</html>